@model Contact

@{
    ViewData["Title"] = "Contact";
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manor a Real Estate Category Bootstrap responsive Website Template | Contact :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Manor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- bootstrap-css -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //font -->
</head>

<body>
    <div class="inner_agile_pages">
        <div class="main_agileits">
            <partial name="_Header" />
        </div>
    </div>
    <!-- //banner -->
    <!--/w3_short-->
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">

            <ul class="w3_short">
                <li><a href="index.html">Home</a><span>|</span></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <!--//w3_short-->
    <!-- banner-bottom -->
    <div class="banner_bottom_w3ls_agile">
        <div class="container">
            <h3 class="agile_heading inner">Contact Us</h3>
            <p class="sub_cap">Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</p>
            <div class="agile_inner_info">
                <div class="col-md-4 agile_info_mail_img_info">
                    <div class="address-grid">
                        <h4>Contact <span>Info</span></h4>
                        <div class="mail-agileits-w3layouts">
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            <div class="contact-right">
                                <p>Telephone </p><span>+234-8026-8856-04 or</span><br />
                                <span>+234-8060-1732-03 </span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="mail-agileits-w3layouts">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <div class="contact-right">
                                <p>Mail </p><a href="paradies@gmail.com">paradies@gmail.com</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="mail-agileits-w3layouts">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-right">
                                <p>Location</p><span>Head Office: G 68 Nkisi Street Housing Estate, Fegge Onitsha, Anambra State.</span>
                                <br />
                                <br />
                                <br />
                                <span>Branch Office: Federal Polytechnic Nekede, Owerri, Imo State.</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="agileits_w3layouts_nav_right contact">
                            <ul>
                                <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 agile_info_mail_img">

                </div>
                <div class="clearfix"> </div>
                <div class="w3layouts_mail_grid">
                    <form asp-action="Contact" method="post">
                        <div class="col-md-6 wthree_contact_left_grid">
                            <input type="text" name="Name" placeholder="Name" required="">
                            <input type="email" asp-for="Email" name="Email" placeholder="Email" required="">
                            <input type="text" name="Telephone" placeholder="Telephone" required="">
                            <input type="text" asp-for="Subject" name="Subject" placeholder="Subject" required="">
                        </div>
                        <div class="col-md-6 wthree_contact_left_grid">
                            <textarea name="Message" asp-for="Message" placeholder="Message..." required=""></textarea>
                            <input type="submit" value="Submit">
                        </div>
                        <div class="clearfix"> </div>

                    </form>
                </div>


            </div>
        </div>

    </div>
    <div class="agile_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.84010033106!2d-74.25819252532891!3d40.70583163828471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1475140387172"
                style="border:0"></iframe>
    </div>
    <!-- //banner-bottom -->
    <!-- footer -->
    <partial name="_Footer" />
    <!-- //footer -->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/search.js"></script>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/js/bootstrap.js"></script>
</body>

</html>